doctype html
html
  body
    input#localId(type='hidden', value=localId)
    video#remoteVideo(autoplay)
    script(src='/socket.io/socket.io.js')
    script(src='js/adapter.js')
    script(src='js/receiver.js')
