doctype html
html
  body
    video#remoteVideo(autoplay)
    script(src='/socket.io/socket.io.js')
    script(src='js/adapter.js')
    script(src='js/receiver.js')
    input#id(type='hidden', value=id)
    input#peerAddr(type='hidden', value=addr)
